.container{
display: grid;
grid-template-columns: repeat(8,1fr);
grid-template-rows: 40px 1fr 60px;

}
app-header{
    grid-area: 1/1/2/9;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    background-color: rgb(75, 72, 72);
}
app-content{
    grid-area: 2/1/3/9;
    display: grid;
    grid-template-rows: 1fr 1.2fr;
}
