<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@100&family=Shippori+Antique&display=swap"
  rel="stylesheet"
/>

<figure class="item1">
  <img src="assets/img/ALIH9525.jpg" alt="" />
  <figcaption>
    <a name="history"></a>
    <h3>Історія породи</h3>
    <p>
      Породу вивів Джон Рассел у Великій Британії у першій половині XIX
      століття. Англійський пастор, на прізвисько Джек, був азартним та
      заповзятим мисливцем на лисиць. Тому у своїй селекційній роботі над
      породою він намагався поєднати спритність, швидкість та розум. Для
      створення породи парсон-рассел-тер'єрів схрестили з таксами і вельш-коргі.
    </p>
  </figcaption>
</figure>
<figure>
  <img src="assets/img/ALIH9646.jpg" alt="" />
  <figcaption>
    <a name="descript"></a>
    <h3>Опис</h3>
    <p>
      Невеликий, рухливий та активний собака прямокутного формату , заввишки
      25-30 см, вагою — 5-6 кг. Досить сильно виражені міцні груди, сильна шия
      та широкий череп. Очі маленького розміру, мигдалеподібної форми, переважно
      темного кольору. Важливими пропорційними характеристиками стандарту породи
      є: тварина більш розтягнута в довжину, ніж у висоту; вага повинна
      розподілятися в еквіваленті 1 кг на 5 см зросту; глибина тіла від холки до
      грудини дорівнює довжині передньої ноги від ліктя до землі. Шерсть гладка
      і трохи жорстка на зламі. Вона добре захищає тварин від холодної погоди. У
      забарвленні переважає білий колір шерсті. Він розбавляється невеликими
      мітками чорного і рудого кольору. Рудий колір може мати найрізноманітніші
      відтінки: від жовтого до світло-коричневого.
    </p>
  </figcaption>
</figure>
<figure>
  <img src="assets/img/ALIH9619.jpg" alt="" />
  <figcaption>
    <a name="character"></a>
    <h3>Характер</h3>
    <p>
      За характером порода сильно відрізняється від інших тер'єрів. У
      джек-рассел-тер'єра врівноваженіша поведінка, ніж у схожих порід. Це
      добродушна і ласкава тварина, він поступливий і мало гавкає. Собака
      дружелюбно налаштована до дітей. Особливо, якщо вона зростає разом з ними.
      Але для пса дуже важлива рання соціалізація, оскільки джек-рассел може
      бути агресивно налаштованим до інших собак.
    </p>
  </figcaption>
</figure>
