<p> {{textTitle | titlecase}} этих {{textUpper | uppercase}}, что курс на социально-ориентированный {{textLower | lowercase}} проект в значительной степени обуславливает создание соответствующих условий активизации. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу специалистов системы обучения кадров, соответствующей насущным потребностям {{textTitle1 | titlecase}}. </p>
<p>{{textSlice | slice: 2:5}}</p>
<hr>
<p>{{numberEyler | number}}</p>
<p>{{numberEyler | number:'2.1-2'}}</p>
<p>{{numberEyler | number:'1.0-0'}}</p>
<hr>
<p>{{myDate | date:'MMM d, y, h:mm:ss a'}}</p>
<p>{{myDate |date:'h:mm:ss a'}}</p>
<hr>
<p>{{numberEyler| currency}}</p>
<p>{{numberEyler| currency:'uah'}}</p>
<p>{{numberEyler| percent}}</p>
<p>{{currentObj|json}}</p>
<pre>{{currentObj|json}}</pre>
<p>{{textLower |format}} свой пайп</p>
<hr>
<span>Возведение в степень</span>
<p>{{currentNumber| square:degree}}</p>