img{
    width: 300px;
    float: left;
    margin: 30px;
}
figcaption{
    padding-top: 5px;
    font-family: 'Montagu Slab',
    serif;
    font-family: 'Shippori Antique',
    sans-serif;
}
h3{
    text-align: center;
}
figure{
    overflow: hidden;
}
