nav a {
  text-decoration: none;
  width: 100px;
  height: 30px;
  background-color: brown;
  color: cornsilk;
  font-size: 20px;
  padding: 10px;
  border: cornsilk 2px solid;
}
nav .active{
  background-color: #fff;
  color: brown;
}