<a name="contact"></a>
<div class="footer_tel1">
  <img
    src="assets/img/kisspng-computer-icons-clip-art-portable-network-graphics-telephone-svg-png-icon-free-download-389-64-o-5c045d1a249985.8259923215437898501499.png"
    alt=""
    class="footer_img"
  />
</div>
<div class="footer_tel2">+380000000000</div>
<div class="footer_mail1">
  <img
    src="assets/img/5a359002ce50d5.3263382315134597148451.png"
    alt=""
    class="footer_img"
  />
</div>
<div class="footer_mail2">exampl@gmail.com</div>
<div class="footer_gps1">
  <img src="assets/img/gps.png" alt="" class="footer_img" />
</div>
<div class="footer_gps2">м.Київ, Ентузіастів 20</div>
