<p>
  Задача организации, в особенности же высокотехнологичная концепция
  общественной системы создаёт предпосылки качественно новых шагов для форм
  воздействия. Повседневная практика показывает, что постоянный количественный
  рост и сфера нашей активности создаёт предпосылки качественно новых шагов для
  новых предложений. Значимость этих проблем настолько очевидна, что начало
  повседневной работы по формированию позиции позволяет выполнять важные задания
  по разработке новых предложений.
</p>
<img [src]="dogImage" [width]="dogImageWid" alt="" srcset="" />
<img
  [src]="dogImage1"
  [width]="dogImageWid"
  [height]="dogImageHeight"
  alt=""
  srcset=""
/>
