<label for="input"></label>
<ol>
    <li><input type="radio" name="input" id="" value="1" #input1 (change)="chengColor(input1,par)">Зеленый</li>
    <li><input type="radio" name="input" id="" value="2" #input2 (change)="chengColor(input2,par)">Красный</li>
    <li><input type="radio" name="input" id="" value="3" #input3 (change)="chengColor(input3,par)">Синий</li>
    <li><input type="radio" name="input" id="" value="4" #input4 (change)="chengColor(input4,par)">Оранжевый</li>
</ol>


 

<p #par>Для современного мира выбранный нами инновационный путь напрямую зависит от укрепления демократической системы. С другой стороны сложившаяся структура организации требует анализа позиции, занимаемых участниками в отношении поставленных задач. Для современного мира начало повседневной работы по формированию позиции играет важную роль в формировании направлений прогрессивного развития. Равным образом повышение уровня гражданского сознания напрямую зависит от поставленных обществом и правительством задач. Для современного мира рамки и место обучения кадров требует анализа новых предложений. Повседневная практика показывает, что понимание сущности ресурсосберегающих технологий напрямую зависит от форм воздействия.!</p>
